<div id="showcase">
  <div class="showcaseTitle">
    <h1>Showcase</h1><img alt="" class="break" src="assets/img/break.png"></div>
  <div class="container">
    <div class="showcaseLeft">
      <a href="#">
        <div class="frame"><img alt="" class="showcaseImg" src="assets/img/showcase/left.jpg"></div>
        <div class="frameTitle">
          Senzokuike Librairy
        </div></a>
    </div>
    <div class="showcaseMiddle">
      <a href="#">
        <div class="frame"><img alt="" class="showcaseImg" src="assets/img/showcase/middle.jpg"></div>
        <div class="frameTitle">
          Tokyo University of Science
        </div></a>
    </div>
    <div class="showcaseRight">
      <a href="">
        <div class="frame"><img alt="" class="showcaseImg" src="assets/img/showcase/right.jpg"></div>
        <div class="frameTitle">
          Metropolitan Museum
        </div></a>
    </div>
  </div>
</div>
