<div id="presentation">
  <div class="title">
    <h1 class="bigtitle">Preparing <br> the <strong style="color:#FAA914">future</strong></h1>
    <h3>Doing important stuff</h3>
    <p>Lorem ipsum dolor sit amet, consectetur <strong>adipisicing elit</strong>. Amet cum deserunt dolorum eligendi ipsam neque <strong>perspiciatis </strong>suscipit vitae voluptatem. Blanditiis consequatur enim, est <strong>eveniet excepturi</strong> odio odit quae ut?</p>
    <div class="learnMore">
      <a href="#speech" class="hvr-sweep-to-bottom">Learn more</a>
    </div>
  </div>
  <br><br><br><br><br>

  <div class="image1" >
    <div class="jarallax" data-jarallax data-speed="0.5">
      <img class="jarallax-img" src="assets/img/archi_1.jpg" alt="">
      <div class="box-cover" style="border-bottom: solid 10px #152B30">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 1024 1024" style="enable-background:new 0 0 1024 1024;" xml:space="preserve">
          <path d="M0,0v1024h1024V0H0z M941.1,759.7l-27.9,16.1L539.9,991.3l-27.9,16.1l-27.9-16.1L110.8,775.8l-27.9-16.1V264.3l27.9-16.1
          L484.1,32.7L512,16.6l27.9,16.1l373.2,215.5l27.9,16.1V759.7z"/>
        </svg>
      </div>
    </div>
  </div>

</div>
